<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">LOGO</a></h1>
    <h2>게시판 글쓰기</h2>
    <% if (data != null) { %>        
        <input type="hidden" id="hiddenId" value="<%= data.id %>"/>
        <h3> 제목 : </h3>
        <input type = "text" id="updateSubject" name="subject" value="<%= data.subject %>">
        <h3> 작성자 : </h3>
        <input type="text" id="updateUserName" name="userName" value="<%= data.userName %>">
        <h3> 내용 : </h3>
        <input type="text" id="updateContent" name="content" value="<%= data.content %>">
        <input type="button" id="update" value="수정하기">
    <% } else { %>        
        <h3> 제목 : </h3>
        <input type="text" id="createSubject" name="subject">
        <h3> 작성자 : </h3>
        <input type="text" id="createUserName" name="userName">
        <h3> 내용 : </h3>
        <input type="text" id="createContent" name="content">
        <input type="button" id="create" value="작성하기">
    <% } %>
    <input type="button" id="cancle" value="취소"/>

</body>
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script>
    //취소 버튼
    $("#cancle").click(function(){
        location.href = "/board/list";
    })

    // 작성하기 버턴
    $("#create").click(function(){
        let subject = $("#createSubject").val();
        let userName = $("#createUserName").val();
        let content = $("#createContent").val();

        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/board/write",
            data: {subject, userName, content}
        }).done(function(data){
            if(data.msg == "success"){
                location.href = "/board/list";
            }else{
                console.log(data.msg)
            }
        })
    })
    //수정하기 버튼
    $("#update").click(function(){
        let subject = $("#updateSubject").val();
        let userName = $("#updateUserName").val();
        let content = $("#updateContent").val();
        let id = $("#hiddenId").val();

        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/board/update/" + id,
            data:{
                subject, userName, content
            }
        }).done(function(data){
            if(data.msg == "success"){
                location.href = "/board/detail/" + id;
            }else{
                console.log(data.msg)
            }
        })
    })
</script>
</html>